/*Sets the webpage background to the webpagebg image.*/
body {
    background-image: url('./images/webpagebg.png');
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

button {
    display: inline;
}

/*Class to display our logo.*/
div.image0 {
    content: url("./images/team3small.png");
}

/*Upload buttons and states -- :hover changes the icon when it's hovered over, and :active changes the icon when it's clicked.*/
.upload {
    background: url('./images/upload-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.upload:hover {
    background: url('./images/upload-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.upload:active {
    background: url('./images/upload-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Download buttons and states.*/
.download {
    background: url('./images/download-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.download:hover {
    background: url('./images/download-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.download:active {
    background: url('./images/download-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*New folder buttons and states.*/
.newfolder {
    background: url('./images/newfolder-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfolder:hover {
    background: url('./images/newfolder-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfolder:active {
    background: url('./images/newfolder-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Delete folder buttons and states.*/
.deletefolder {
    background: url('./images/deletefolder-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefolder:hover {
    background: url('./images/deletefolder-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefolder:active {
    background: url('./images/deletefolder-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*New files buttons and states.*/
.newfile {
    background: url('./images/newfile-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfile:hover {
    background: url('./images/newfile-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfile:active {
    background: url('./images/newfile-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Delete file buttons and states.*/
.deletefile {
    background: url('./images/deletefile-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefile:hover {
    background: url('./images/deletefile-hover-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefile:active {
    background: url('./images/deletefile-pressed-icon.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}