/*Sets the webpage background to the webpagebg image.*/
body {
    background-image: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/webpagebg.png');
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

/*Class to display our logo.*/
.teamlogo {
    background-image: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/team3small.png');
    background-repeat: no-repeat;
    background-position: left top;
}

/*Upload buttons and states -- :hover changes the icon when it's hovered over, and :active changes the icon when it's clicked.*/
.upload {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/upload-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.upload:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/upload-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.upload:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/upload-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Download buttons and states.*/
.download {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/download-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.download:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/download-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.download:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/download-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*New folder buttons and states.*/
.newfolder {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfolder-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfolder:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfolder-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfolder:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfolder-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Delete folder buttons and states.*/
.deletefolder {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefolder-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefolder:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefolder-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefolder:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefolder-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*New files buttons and states.*/
.newfile {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfile-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfile:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfile-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.newfile:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/newfile-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}

/*Delete file buttons and states.*/
.deletefile {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefile-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefile:hover {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefile-hover-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}
.deletefile:active {
    background: url('/src/190930-UTA-CW-Go/Project-2-T33M-3/webpage/images/deletefile-pressed-icon.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
}