<!DOCTYPE html>
<head>
<title>
</title>
</head>
<body>
{{ if .Login.Invalidname }}
<a href="/register">Register</a>
<br>
<br>
Invalid user name<br>
Please re-enter your username and password:
<br>
   <form method="POST" action="/login">
        <label>Username:</label><br />
        <input type="text" name="name"><br>
        <label>Password:</label><br />
        <input type="password" name="pw"><br>
        <br>
        <input type="submit" value="Login">
    </form>
{{ else if .Login.Invalidpw }} 
<a href="/register">Register</a>
<br>
<br>
Invalid password<br>
Please re-enter your username and password:
<br>
   <form method="POST" action="/login">
        <label>Username:</label><br />
        <input type="text" name="name"><br>
        <label>Password:</label><br />
        <input type="password" name="pw"><br>
        <br>
        <input type="submit" value="Login">
    </form>

    {{ else }}
    Thank you for logging in {{.Singleuser.Username}}.
<br>
Please select an option



<a href="/logout"><button>Logout</button></a>

{{ end }}
</body>
</html>